*{
    /* font-size: 1.1em !important; */
}

.top-jumbo{
    line-height: .2vh;
}
.top-jumbo .profile-img{
    border-radius: 50%;
    border: solid 10px;
    overflow: hidden;
}

.top-jumbo .profile-img img{
    border-radius: 50%;
    width: 100%;
}

.section-header{
    font-size: x-large;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15%;
}

.section-text{
    color: #515151;
}

.contact-list{
    font-size: large;
}

.skills-list ul{
    columns: 2;
}

input{
    border-radius: 20px !important;
}

.my-button{
    border-radius: 20px !important;
    background-color: #1B4472;
}

.my-bg-primary {
    background-color: #1B4472;
}

.my-text-primary {
    color: #128CCD;
}

.my-border-primary {
    border-color: #128CCD;
}

.modal{
    top: 60%;
}

.final-btn{
    position: fixed;
    bottom: 2%;
    right: 1%;
    height: 100px;
    width: 100px;
    border: solid;
    text-align: center;
    color: white;
    border-radius: 50%;
}
.final-btn i{
    display: block;
    margin-top: 35%;
    font-size: xx-large;
}